/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .page-text p span {
    font-size: 40px;

}
.page-text a {
    padding: 7px 17px;
    font-size: 16px;
}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .page-text a {
    padding: 6px 16px;
    font-size: 14px;
   
}
.page-text p {
    font-size: 12px;
    color: #969292;
}
.page-text p span {
    color: #ff3c3c;
    font-size: 40px;
    line-height: 42px;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .page-text a {
    padding: 5px 14px;
    font-size: 12px;
   
}
.page-text p {
    font-size: 12px;
    color: #969292;
}
.page-text p span {
    color: #ff3c3c;
    font-size: 30px;
    line-height: 42px;
}
.social-icon ul li a i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 10px;
    margin-top: 5px;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 426px) { 
.page-text a {
    padding: 5px 14px;
    font-size: 10px;
   
}
.page-text p {
    font-size: 10px;
    color: #969292;
}
.page-text h2{
	font-size: 50px;
}
.page-text p span {
    color: #ff3c3c;
    font-size: 25px;
    margin-right: 0px;
}
}
@media only screen and (max-width: 354px){
.page-text a {
    margin-bottom: 10px;
}

}